@font-face {
	font-family: space-grotesk;
	src: url(SpaceGrotesk-Medium.ttf);
	font-display: swap;
}

* {
	line-height: calc(4px + 2ex);
	box-sizing: border-box;
}

:root {
	scroll-behavior: smooth;
	background-image: linear-gradient(#070b34 0%, #141852 35%, #2b2f77 61%, #473475 73%, #6b4984 87%, #855988 calc(100% - 0rem), #141852 calc(100% - 1.5rem), #070b34);
	background-color: #070b34;
	color: white;
	font-family: space-grotesk;
	font-size: calc(15px + 0.390625vw * 1.75);
	text-align: center;
	padding-top: 3rem;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
:root::-webkit-scrollbar {
	display: none;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

body > img {
	box-shadow: 0 0 55px 15px #fff7;
	background-color: #fff4;
	border-radius: 12.5px;
}

h1 {
	font-size: 1.5rem;
}
h2 {
	font-size: 1.25rem;
	margin-top: 1rem;
}
h3 {
	font-size: 1rem;
	margin: 0;
	margin-bottom: 0.5rem;
}

body > p {
	display: block;
	max-width: 20rem;
}

.projects {
	display: grid;
	grid-auto-rows: 1fr;
	max-width: 100%;
	grid-template-columns: 100%;
}

a {
	color: white;
	text-underline-offset: 0.1em;
	overflow-wrap: anywhere;
	outline: none;
}
.projects a {
	width: 32rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 1.5rem;
	padding: 1rem !important; /* fuck css specificity bro :sob: */
	max-width: 100%;
}

.glassy {
	background-color: #fff3;
	/*
	removed for now bc it's really freaking laggy
	backdrop-filter: blur(10px);
	*/
	border-radius: 16px;
	border: thin solid #fff3;
	padding: 0.5rem;
	user-select: none;
}
a.glassy {
	transition: background-color 0.25s ease;
	text-decoration: none;
}
a.glassy:hover {
	background-color: #fff2;
}

.people {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
	gap: 1rem;
	width: 100%;
	max-width: 56rem;
}
.people a.glassy {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	padding: 0 0.75rem;
	height: 3.5rem;
	text-align: left;
	scroll-margin-top: 40vh;
}
.people a.glassy img {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
}

.people article {
	background-color: #5b5466;
	z-index: 1;
	position: fixed;
	top: 50%;
	top: 50lvh;
	left: 50%;
	transform: translate(-50%, -50%);
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease, visibility 0s 0.3s;
	padding: 1.5rem 0.75rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 16px;
	width: 32rem;
	max-width: 100%;
}
.people h2 {
	margin-top: 0;
}
.people p {
	max-width: 24rem;
	margin: 0;
}
.people a:target + article,
.people a:target ~ a[href="#_"] {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.3s ease;
}
a[href="#_"] {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	height: 100lvh;
	background-color: #0005;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease, visibility 0s 0.3s;
	cursor: default;
	backdrop-filter: blur(4px);
}
body:has(.people a:target) {
	overflow: hidden;
}

th,
td {
	border: 3px solid #7c7685;
	padding: 0.5rem;
	width: min-content;
}
table {
	border-collapse: collapse;
	margin-top: 1.5rem;
	width: 100%;
}

footer {
	display: flex;
	width: 60rem;
	margin: 1rem;
	margin-top: 1.5rem;
	align-items: center;
	gap: 0.5rem;
	max-width: 100%;
	flex-wrap: wrap;
}
footer img {
	height: 2.25rem;
}
footer div {
	margin-right: 0.5rem;
	margin-left: auto;
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}
footer p {
	margin: 0;
	text-align: right;
}
@media (max-width: 1000px) {
	footer {
		flex-direction: column;
	}
	footer div {
		margin: 0;
	}
	footer p {
		text-align: center;
	}
}

#bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	height: 100lvh;
	opacity: 0;
	z-index: -1;
	transition: opacity 1s ease;
}
#bg.show {
	opacity: 1;
}

#clocks {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-1turn) scale(0);
	transform-origin: center;
	padding: 1px;
	transition: transform 0.5s ease;
	visibility: hidden;
}
#clocks.playing {
	transform: translate(-50%, -50%) rotate(0turn) scale(1);
	visibility: visible;
}

svg {
	height: 0.5em;
	color: #fff4;
}
