
/*this is the good stuff https://www.schemecolor.com/night-sky-color-palette.php*/

html,

body{
    display: flex;
    width: 100vw;
    height: 100vh;
    background: rgb(7,11,52);
background: linear-gradient(190deg, rgba(7,11,52,1) 0%, rgba(20,24,82,1) 35%, rgba(43,47,119,1) 61%, rgba(72,52,117,1) 73%, rgba(107,73,132,1) 87%, rgba(133,89,136,1) 100%);
}

p {
    text-align: center;
}

