@font-face {
    font-family: space-grotesk;
    src: url(SpaceGrotesk-Medium.ttf);
}

/*this is the good stuff https://www.schemecolor.com/night-sky-color-palette.php*/
html {
    scroll-behavior: smooth;
    height: auto;
    background: linear-gradient(190deg, rgba(7, 11, 52, 1) 0%, rgba(20, 24, 82, 1) 35%, rgba(43, 47, 119, 1) 61%, rgba(72, 52, 117, 1) 73%, rgba(107, 73, 132, 1) 87%, rgba(133, 89, 136, 1) 100%);
}

* {
    transition: 0.5s;
}

body {
    width: 99vw;
    overflow-x: hidden;
    display: inline-flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

p {
    text-align: center;
    font-family: space-grotesk;
    color: white;
    font-size: calc(1vh + 1vw);
    ;
}

h1 {
    text-align: center;
    font-family: space-grotesk;
    color: white;
    font-size: calc(1.5vh + 1.5vw);
    ;
    z-index: 3;
}

li {
    text-align: left;
    font-family: space-grotesk;
    color: white;
    font-size: calc(1vh + 1vw);
    ;
    align-self: flex-start;
}

button {
    transition: 0.5s;
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: calc(0.5vh + 0.5vw);
    font-family: space-grotesk;
    color: white;
    background-color: rgb(72, 35, 152);
    border: 1px solid rgba(255, 255, 255, 0.50);
    margin: 1%;
}

button:hover {
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: calc(0.5vh + 0.5vw);
    font-family: space-grotesk;
    color: rgb(140, 171, 229);
    background-color: rgb(59, 27, 128);
    border: 1px solid rgba(255, 255, 255, 0.50);
    margin: 1%;
    cursor: pointer;
}

button:active {
    transition: 0.1s;
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: calc(0.5vh + 0.5vw);
    font-family: space-grotesk;
    color: rgb(140, 171, 229);
    background-color: rgb(32, 13, 72);
    border: 1px solid rgba(255, 255, 255, 0.50);
    margin: 1%;
    cursor: pointer;
}

#stars {
    top: 0px;
    z-index: 0;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    /*Ember314 Mercury Workshop*/
}

#grid {
    z-index: 2;
    position: static;
    display: inline-flex;
    width: 85%;
    align-items: center;
    flex-direction: column;
}

#blurStars {
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -20px;
    pointer-events: none;
    overflow: hidden;
}

.box {
    position: static;
    max-width: 50em;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(1.5px);
    z-index: 3;
    background: rgba(255, 255, 255, 0.2);
    pointer-events: all;
    border-radius: 15px;
    -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.2);
    margin: 2%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding: 3%;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 5%;
}

#logo {
    height: calc(5vh + 5vw);
    background-color: rgba(255, 255, 255, 0.25);
    -moz-box-shadow: 0 0 35px 15px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0 0 35px 15px rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 55px 15px rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px) z-index: 3;
}

#footerLogo {
    height: calc(2vh + 2vw);
    align-self: center;
    justify-self: flex-start;
    order: 1;
    margin: 1vw;
}

#brand {
    text-align: center;
    font-family: space-grotesk;
    color: white;
    font-size: calc(1vh + 1vw);
    align-self: center;
    justify-self: flex-start;
    order: 2;
    white-space: nowrap;
}

.footerSpace {
    display: flex;
}

#takedown {
    font-family: space-grotesk;
    color: white;
    font-size: calc(0.75vh + 0.75vw);
    align-self: center;
    margin-right: 5em;
    order: 3;
    white-space: nowrap;
}

#hide {
    margin-left: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: all;
    overflow: hidden;
    z-index: 100;
    background-color: rgb(15, 15, 50);
}

.footer {
    position: static;
    width: 90%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 2;
    background: rgba(255, 255, 255, 0.2);
    pointer-events: all;
    border-radius: 15px;
    -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.2);
    margin: 2%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}